body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


h1 {
    color: blueviolet;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#new-task {
    padding: 10px;
    width: 70%;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

#btn {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li.completed {
    text-decoration: line-through;
    color: yellowgreen;
}

li:hover {
    background-color: #f1f1f1;
}

.delete-btn {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff1a1a;
}
